.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin-alert {
  max-width: 900px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 0.9em;
}
#users-container {
  width: 100%;
  max-width: 900px;
}
.user-card {
  max-width: 100%;
  border: 1px solid #dcdde1;
  padding: 20px;
  margin: 15px 0px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  position: relative;
}
span {
    font-weight: bold;
}
.user-id-badge {
  position: absolute;
  top: 25px;
  right: 20px;
  background-color: #7f8c8d;
  color: white;
  padding: 3px 8px;
  border-radius: 3px;
  font-size: 0.8em;
  font-weight: bold;
}
.user-card h3 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 1.4em;
}
.user-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}
.detail-item {
  font-size: 0.95em;
}

.edit-role-box {
  display: none;
  grid-column: span 2;
}

.edit-role-box.active {
  display: block;
}

.admin-actions {
  padding-top: 15px;
}

.btn-edit,
.btn-delete,
.btn-ban,
.btn-ban-inactive {
  padding: 8px 16px;
  margin-right: 8px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.9em;
  border: none;
}
.btn-edit {
  background-color: #f1c40f;
  color: white;
}
.btn-delete {
  background-color: #e74c3c;
  color: white;
}
.btn-ban,
.btn-ban-inactive {
  color: white;
  background-color: #d35400;
}

.btn-edit-save {
  padding: 4px 10px;
  margin-left: 10px;
}
.btn-edit-cancel {
  padding: 4px 10px;
}

.role-select , .role-select option {
  padding: 5px;
  font-size: 0.9em;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: black;
}
