.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin-alert {
  max-width: 900px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 0.9em;
}
#venues-container {
  width: 100%;
  max-width: 900px;
}
.venue-card {
  max-width: 100%;
  border: 1px solid #dcdde1;
  padding: 20px;
  margin: 15px 0px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  position: relative;
}
.venue-id-badge {
  position: absolute;
  top: 25px;
  right: 20px;
  background-color: #7f8c8d;
  color: white;
  padding: 3px 8px;
  border-radius: 3px;
  font-size: 0.8em;
  font-weight: bold;
}
.venue-card h3 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 1.4em;
}

span {
    font-weight: bold;
}
.venue-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}
.detail-item {
  font-size: 0.95em;
}
.admin-actions {
  padding-top: 15px;
}
.btn-edit,
.btn-delete {
  padding: 8px 16px;
  margin-right: 8px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.9em;
  border: none;
}
.btn-edit {
  background-color: #f1c40f;
  color: white;
}
.btn-delete {
  background-color: #e74c3c;
  color: white;
}
